@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div data-ng-include="'/scripts/sabio/parse/parseprice.html'"></div>


@section scripts
{
    <script src="~/Scripts/sabio/parse/services.parseprice.js"></script>
    <script src="~/Scripts/sabio.services.importedRents.js"></script>
    <script src="~/Scripts/sabio/parse/services.filedirective.js"></script>
    <script src="~/Scripts/sabio/maps/services.geo.js"></script>
    <script src="~/Scripts/papaparse.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD2aG8twoXw2wn0x0Xt8jB6XlgNVTOwpFA"></script>
    <script type="text/javascript">
    </script>
}
